<div class="container">
    <div class="navbar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">About us/Bio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact/Register</a>
            </li>
        </ul>
        <div class="icons">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-pinterest"></i>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-whatsapp"></i>
        </div>
    </div>
</div>