<div class="navbar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/"><img class="logo" src="assets/logo/navLogoWhite.png" alt="" style=" filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
                "></a>

        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/bio">About us/Bio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
    </ul>
    <div class="" id="icons">
        <i class="bi bi-instagram" style=" filter: drop-shadow(0px 5px 3px #000000)"></i>
        <i class="bi bi-facebook" style=" filter: drop-shadow(0px 5px 3px #000000)"></i>
        <i class="bi bi-pinterest" style=" filter: drop-shadow(0px 5px 3px #000000)"></i>
        <i class="bi bi-youtube" style=" filter: drop-shadow(0px 5px 3px #000000)"></i>
        <i class="bi bi-whatsapp" style=" filter: drop-shadow(0px 5px 3px rgb(0, 0, 0))"></i>
    </div>
</div>