<header>
    <div class="navbar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/"><img class="logo" src="assets/logo/logo.png" alt=""></a>

            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/bio">About us/Bio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart">Cart</a>
            </li>
        </ul>
        <div class="" id="icons">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-pinterest"></i>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-whatsapp"></i>
        </div>
    </div>
</header>