        .icons {
            justify-content: space-around;
            display: flex;
            text-decoration: none;
        }
        
        .navbar {
            width: 15rem;
            display: flex;
            flex-direction: column;
            background-color: palevioletred;
            height: 50vh;
            a {
                color: black;
            }
            a:hover {
                background-color: blanchedalmond;
            }
        }