.container {
    width: 80%;
    margin-left: 20%;
    margin-right: none;
    .cart {
        justify-content: space-between;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            h4 {
                font-family: 'Exo', sans-serif;
            }
            label {
                margin: 1rem;
            }
            .btn {
                margin: 1rem;
            }
        }
    }
    #empty {
        height: 37rem;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            margin: 3.2rem;
            padding: 3.2rem;
        }
    }
}

table {
    width: 100%;
    // margin: 1em;
    // margin-left: ;
    border-spacing: 0.5rem 0.5rem;
    border-collapse: separate;
    margin-top: 2rem;
    margin-left: 2rem;
    th,
    td {
        padding: 1rem;
        margin: 2rem;
        text-align: left;
        box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    }
}

.item2 {
    background-color: rgb(69, 68, 68);
    color: white;
    // margin-left: 8rem;
    padding-top: 2rem;
    .btnDiv {
        input {
            background-color: white !important;
            color: black !important;
        }
    }
}

.item {
    padding-right: 5rem;
}