<app-navbar></app-navbar>
<div class="container">

    <!-- what we see when something is in the cart -->
    <div class="cart row row-cols-2" *ngIf="cart.length!==0">

        <div class="item col-7">
            <table class="text-center border-0">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cart-item" *ngFor="let item of cart; index as i">
                        <td><img src="{{ item.link }}" height="60px" alt="{{ item.name }}"></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price | currency : "EUR" }}</td>
                        <td><i class="delete fs-4 bi bi-trash3-fill text-danger" (click)="deleteQtty(i)"></i></td>
                    </tr>

                    <tr>
                        <!-- discount -->
                        <ng-template [ngIf]="total>=1000" [ngIfElse]="none">
                            <th scope="row" colspan="4">Total: {{ total | currency : "EUR" }}. Your discount is 10%. Your new price is {{ total * 0.90 | currency : "EUR"}}</th>
                        </ng-template>

                        <ng-template #none>
                            <th class="text-end" scope="row" colspan="4">Total: {{ total | currency : "EUR" }}</th>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="item2 col-4 ">
            <h4 class="text-center">To complete your order <br> please fill in this form</h4>
            <!-- checkout form -->
            <form [formGroup]="checkout" (ngSubmit)="onSubmit()">
                <label>
            First Name:
            <input class="shadow-sm p-3 mb-2  rounded" type="text" formControlName="firstName">
        </label>

                <label>
            Last Name:
            <input class="shadow-sm p-3 mb-2  rounded" type="text" formControlName="lastName">
        </label>

                <label>        
            Email:       
            <input class="shadow-sm p-3 mb-2  rounded" type="email" formControlName="email">        
        </label>

                <label>
            Last Name:
            <input class="shadow-sm p-3 mb-2  rounded" type="text" formControlName="address">
        </label>

                <div class="btnDiv">
                    <input type="submit" value="Checkout" class="btn btn-success">

                </div>

            </form>
        </div>
    </div>


    <!-- what we see when the cart is empty -->
    <div *ngIf="cart.length==0" id="empty">
        <h2 class="text-body-tertiary text-center">The cart is empty</h2>
    </div>

</div>