<app-navbar></app-navbar>
<div class="container">

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm1">
    
        <div *ngFor="let val of images; index as id">
        
            <div class="card">
                <img src="{{val[0]}}" alt="{{val[0]}}" class="card-img" alt="{{val[0]}}">
                <a class="card-img-overlay  d-flex justify-content-center align-items-center" id="cardLink" routerLink="/portfolio/{{ id }}">
                
                    <div class="card-title">{{titles[id]}}</div>
                    </a>
                </div>
            </div>
        </div>
</div>