<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="assets/img/concerts(horizontal)/concert7.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Dark sepia photo of gitar player" />

        <img src="assets/img/portraits(vertical)/portrait1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Portrait with woman in black with white flower" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="assets/img/still-life(vertical)/still_life5.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Dried Physalis on wood" />

        <img src="assets/img/vacation-family(horizontal)/vacation7.jpg" alt="Family on bridge in sea at sunset" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="assets/img/wedding(horizontal)/wedding6.jpg" alt="Newlywed in sunflower field" />

        <img src="assets/img/portraits(vertical)/portrait8.jpg" alt="Closeup portrait of a lion" />
    </div>
</div>
<!-- Gallery -->