<!--navbar-->
<app-navbar></app-navbar>

<div class="container">
    <!-- -->
    <h1 class="text-center">Who are we?</h1>
    <!--2 ids are the same?-->
    <div id="text">
        <!--bio part-->
        <div id="text">
            <div>
                <img src="../../assets/img/man.jpg" alt="Wolfgang Suschitzky">
            </div>
            <div id="about">
                <p>Wolfgang Suschitzky, the founder of "Studio Team 8", is an acclaimed Austrian photographer with over 70 years of experience. He has been awarded numerous times for his outstanding work and has worked on projects in over 30 countries around
                    the world. His works can be found in private and corporate collections, as well as museums, both nationally and internationally. His documentary-style photos capture moments of raw emotion, often exploring themes of poverty and the
                    human condition.
                    <br> He is currently working on a series of portraits for the new exhibition in the Museum of Modern and Contemporary Art in Munich, Germany. His work is included in numerous private and public collections.</p>
            </div>
        </div>
    </div>
    <!--awards part-->
    <h1 class="text-center">Awards</h1>
    <div id="list">
        <div class="item">
            <ul>
                <p>2022</p>
                <li>APA Portrait Award (Corporate).</li>
                <p>2021</p>
                <li>APA Portrait Award (Children).</li>
                <p>2020</p>
                <li>Council on Aging California.</li>
                <li>Spider Awards (Black & White).</li>
                <li>International Photo Award ( IPA).</li>
                <li>International Color Award (Advertising).</li>
                <li> Monochrome Photography Award.</li>
                <li>Spotlight Award (Production Paradise).</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <p>2019</p>
                <li>Monochrome Photography Award (Portraits)”</li>
                <p>2018</p>
                <li>Council on Aging California.</li>
                <li>International Photo Award-IPA (Self portrait).</li>
                <p>2017</p>
                <li>Monochrome Award.</li>
                <li>Council on Aging California</li>
                <p>2016</p>
                <li>Viewbug</li>
                <li>Council on Aging California.</li>
                <li>Bong Photography-Portrait photographer of the Year.</li>
            </ul>
        </div>
    </div>

    <!--contact us form with castomized sweet alert-->
    <h1 class="text-center">Contact Us</h1>

    <div id="subContainer">
        <img id="photo" src="assets/logo/photographer2.jpg" alt="photographer">
        <div id="submit">
            <form [formGroup]="info" (ngSubmit)="onSubmit()">
                <label>
            First Name: <br>
            <input class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" type="text" formControlName="firstName">
        </label>
                <br>
                <label>
            Last Name: <br>
            <input class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" type="text" formControlName="lastName">
        </label>
                <br>
                <label>        
            Email:       <br>
            <input class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" type="email" formControlName="email">        
        </label>
                <br>
                <label>
            Subject: <br>
            <input class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" type="text" formControlName="subject">
                </label>

                <textarea class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" name="" id="" cols="40" rows="10" formControlName="message"></textarea>

                <div class="btnDiv">
                    <input class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" type="submit" value="Submit" class="btn btn-success" (click)="formSwal.fire()">
                    <!-- sweet alert returns values from the form -->
                    <swal #formSwal title="That went well!" text="Thank you for contacting us about your {{info.value.subject}}, {{info.value.firstName}} {{info.value.lastName}}! We will respond as soon as possible on your email: {{info.value.email}} Have a nice day!" icon="success"
                        [showCancelButton]="true" [focusCancel]="true">
                    </swal>

                </div>
            </form>
        </div>
    </div>

</div>