.container {
    width: 80%;
    margin-left: 20%;
}

h1 {
    padding-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid rgba(130, 129, 129, 0.849);
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    // width: 30rem;
}

#text {
    display: flex;
    flex-direction: row;
    img {
        width: 100%
    }
    #about {
        align-self: flex-end;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#list {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
}

.text {
    padding-top: 4rem;
}

#subContainer {
    display: flex;
    position: relative;
    #photo {
        position: absolute;
        width: 100%;
    }
    #submit {
        position: absolute;
        // border: 4px solid black;
        display: flex;
        justify-content: center;
        width: 40%;
        padding: 1rem;
        z-index: 1;
        color: white;
        form {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            label {
                text-align: center;
                // margin: 0.5rem;
            }
            .btnDiv {
                display: inline;
                input {
                    background-color: white !important;
                    color: black !important;
                }
            }
        }
    }
}