<div class="container">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <img src="..." alt="...">
        </div>
        <div class="flex-grow-1 ms-3">
            <p>Wolfgang Suschitzky, the founder of "Studio Team 8", is an acclaimed Austrian photographer with over 70 years of experience. He has been awarded numerous times for his outstanding work and has worked on projects in over 30 countries around
                the world. His works can be found in private and corporate collections, as well as museums, both nationally and internationally. His documentary-style photos capture moments of raw emotion, often exploring themes of poverty and the human
                condition. <br> He is currently working on a series of portraits for the new exhibition in the Museum of Modern and Contemporary Art in Munich, Germany. His work is included in numerous private and public collections.</p>
        </div>
    </div>
</div>