    img {
        height: 500px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 15px;
        padding: 10px;
        .item {
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            // h1 {
            //     text-align: center;
            // }
            li {
                width: fit-content;
                margin-left: 3rem;
            }
            p {
                font-weight: bold;
            }
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                margin: 10px;
                padding: 10px;
                h1 {
                    // margin: 40px;
                    text-align: start;
                }
                label {
                    margin: 1.1rem;
                    input {
                        margin-left: 0.4rem;
                    }
                }
                .btnDiv {
                    justify-self: center;
                    align-self: center;
                    .btn {
                        margin: 0.9rem;
                    }
                }
            }
        }
    }