<app-navbar></app-navbar>

<!-- First Section of Testimonials -->
<h1>See Customer List of Brands below</h1>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <div class="col-3">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail" alt="Hollywood Sign on The Hill" />
    </div>
    <div class="col-3">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail" alt="Hollywood Sign on The Hill" />
    </div>
    <div class="col-3">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail" alt="Hollywood Sign on The Hill" />
    </div>
    <div>
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail" alt="Hollywood Sign on The Hill" />
    </div>
    <div>
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail" alt="Hollywood Sign on The Hill" />
    </div>
    <div>
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail" alt="Hollywood Sign on The Hill" />
    </div>
</div>

<!-- Second Section of Testimonials -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Studio Team 8 has helped me create beautiful visuals for my product page. The photos and pictures are of the highest quality and I'm always impressed with their up-to-date selection. Having access to a wide range of images has allowed me to
                build a website that looks professional, engaging and on-brand. I highly recommend Studio Team 8!
            </p>
            <p>- James Jameson</p>
        </div>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Their collection of portraits and pictures are always of high quality and incredibly easy to use. It has saved us a lot of time and money as we no longer need to spend hours searching for the perfect image. Highly recommend!
        </p>
        <p>- Dita Mukane</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Hiring Studio Team 8 was a great decision! We asked them to take pictures of our concert, and they did an amazing job. All of the photos were stunningly beautiful and captured our special evening in the most perfect way. We are truly grateful
            for their wonderful work and highly recommend them to anyone looking for an exceptional photographer!
        </p>
        <p>- Thomas Sonnleitner</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">My fiance and I recently hired Studio Team 8 to document our wedding and we couldn't have been happier. She was so talented and patient and captured every single moment of our special day. From the big moments like the ceremony to little special
            moments, the studio were able to capture it all in beautiful photos that we will cherish for a lifetime. Studio Team 8 is definitely one of the best wedding photographerstudio out there!
        </p>
        <p>- Oksana Fuhrman</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">My wedding photos were stunning! Studio Team 8 captured the most beautiful moments and the photos truly captured the essence of our special day. I couldn't be happier with the results. He was professional and easy to work with, which made my experience
            even better. I highly recommend using this photographer for all your wedding photography needs!
        </p>
        <p>- Priyanka Tripathi</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">
            Working with Studio Team 8 was an absolute pleasure! We hired them to take photos and pictures of our concert, and we were amazed with the results. They captured some truly beautiful moments that we will always cherish. The studio had an eye for detail
            and was very creative in its approach to the shots. We couldn't be happier with the results!
        </p>
        <p>- Arnaldo Bismarques</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">I recently had my wedding and decided to hire a photographer studio for the event. I am so glad I chose this particular photographer! His photos and pictures of the wedding were absolutely stunning. He was able to capture the emotion in each moment,
            creating memories that will last forever. I would highly recommend this photographer for any special occasion. He is simply amazing!
        </p>
        <p>- Jane Doe</p>
    </div>
</div>