.container {
    width: 80%;
    margin-left: 20%;
    .item1 {
        //vertical
        overflow: hidden;
        width: 15rem;
        margin: 1rem;
        .img1 {
            height: 20rem;
            width: 100%;
        }
    }
    .item2 {
        // for horizontal
        overflow: hidden;
        width: 20rem;
        margin: 1rem;
        .img2 {
            height: 14rem;
            width: 100%;
        }
    }
}