<app-navbar></app-navbar>

<div class="container">

    <!--for vertical pictures-->
    <ng-template [ngIf]="id == 1 || id == 2" [ngIfElse]="none">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
            <div *ngFor="let val of image; index as i">

                <div class="item1">
                    <a (click)="popUp(val)"><img src="/{{ val }}" class="img1"></a>
                </div>
            </div>
        </div>

    </ng-template>

    <!--for horizontal pictures-->
    <ng-template #none>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
            <div *ngFor="let val of image; index as i">
                <div class="item2">
                    <a (click)="popUp2(val)"><img src=" /{{ val }} " class="img2 "></a>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- <div class="item ">
            <img src="/{{ val }} ">
        </div> -->


</div>